.contact-container {
  padding-top: 150px;
  min-height: 84.1vh;
}

.contact-head {
  color: $success;
  font-size: 50px;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .top-container{

    margin-bottom: 250px !important;

   }
}
