<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/gitwithuli"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/uliwillcode"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/ulas-savkin/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by <b>Ulas</b>
  </div>
</div>
