<div class="container mt-5">
  <div class="row justify-content-center text-center">
    <div class="col-12 col-lg-8 mb-4 d-flex justify-content-center align-items-center">
      <%= image_tag "https://res.cloudinary.com/drjk0oilg/image/upload/v1588252011/lewagonteam-3220c923541ec424c4de48cf8c70f64572c466f1f7cb309b98d719ccd1851d69_cgzdoq.jpg",class: "w-100" %>
    </div>
    <h3 class="text-center col-12 col-lg-8 mb-3" style="color: #0DBF6C"><b>#OurHoodTeam</b></h3>
    <p class="text-center col-12 col-lg-8">It was an amazing experience to work and contribute in an international team. We were so eager to learn and build good websites. It was really hard after Corona Virus epidemic but that just gave us a remote experience as well.</p>
  </div>
</div>
